TallerWeb/web/WEB-INF/wsdl/localhost_3000/publicadorCliente.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servidor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servidor/" name="PublicadorClienteService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servidor/" schemaLocation="http://localhost:3000/publicadorCliente?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="listarClientes"></message>
<message name="listarClientesResponse">
<part name="return" type="tns:dataClienteArray"></part>
</message>
<message name="altaCliente">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="tns:dataFecha"></part>
<part name="arg5" type="xsd:string"></part>
<part name="arg6" type="xsd:string"></part>
</message>
<message name="altaClienteResponse"></message>
<message name="Exception">
<part name="fault" element="tns:Exception"></part>
</message>
<message name="actualizarEstadoReserva">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="tns:estado"></part>
</message>
<message name="actualizarEstadoReservaResponse"></message>
<message name="prueba"></message>
<message name="pruebaResponse">
<part name="return" type="xsd:int"></part>
</message>
<message name="pruebaData"></message>
<message name="pruebaDataResponse">
<part name="return" type="tns:dataCiudad"></part>
</message>
<message name="pruebaDatas"></message>
<message name="pruebaDatasResponse">
<part name="return" type="tns:dataCiudadArray"></part>
</message>
<message name="iniciarSesion">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="iniciarSesionResponse">
<part name="return" type="tns:dataInfoCliente"></part>
</message>
<message name="existeEmail">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="existeEmailResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="existeNickName">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="existeNickNameResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<portType name="PublicadorCliente">
<operation name="listarClientes">
<input wsam:Action="http://Servidor/PublicadorCliente/listarClientesRequest" message="tns:listarClientes"></input>
<output wsam:Action="http://Servidor/PublicadorCliente/listarClientesResponse" message="tns:listarClientesResponse"></output>
</operation>
<operation name="altaCliente" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6">
<input wsam:Action="http://Servidor/PublicadorCliente/altaClienteRequest" message="tns:altaCliente"></input>
<output wsam:Action="http://Servidor/PublicadorCliente/altaClienteResponse" message="tns:altaClienteResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servidor/PublicadorCliente/altaCliente/Fault/Exception"></fault>
</operation>
<operation name="actualizarEstadoReserva" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://Servidor/PublicadorCliente/actualizarEstadoReservaRequest" message="tns:actualizarEstadoReserva"></input>
<output wsam:Action="http://Servidor/PublicadorCliente/actualizarEstadoReservaResponse" message="tns:actualizarEstadoReservaResponse"></output>
</operation>
<operation name="prueba">
<input wsam:Action="http://Servidor/PublicadorCliente/pruebaRequest" message="tns:prueba"></input>
<output wsam:Action="http://Servidor/PublicadorCliente/pruebaResponse" message="tns:pruebaResponse"></output>
</operation>
<operation name="pruebaData">
<input wsam:Action="http://Servidor/PublicadorCliente/pruebaDataRequest" message="tns:pruebaData"></input>
<output wsam:Action="http://Servidor/PublicadorCliente/pruebaDataResponse" message="tns:pruebaDataResponse"></output>
</operation>
<operation name="pruebaDatas">
<input wsam:Action="http://Servidor/PublicadorCliente/pruebaDatasRequest" message="tns:pruebaDatas"></input>
<output wsam:Action="http://Servidor/PublicadorCliente/pruebaDatasResponse" message="tns:pruebaDatasResponse"></output>
</operation>
<operation name="iniciarSesion" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servidor/PublicadorCliente/iniciarSesionRequest" message="tns:iniciarSesion"></input>
<output wsam:Action="http://Servidor/PublicadorCliente/iniciarSesionResponse" message="tns:iniciarSesionResponse"></output>
</operation>
<operation name="existeEmail">
<input wsam:Action="http://Servidor/PublicadorCliente/existeEmailRequest" message="tns:existeEmail"></input>
<output wsam:Action="http://Servidor/PublicadorCliente/existeEmailResponse" message="tns:existeEmailResponse"></output>
</operation>
<operation name="existeNickName">
<input wsam:Action="http://Servidor/PublicadorCliente/existeNickNameRequest" message="tns:existeNickName"></input>
<output wsam:Action="http://Servidor/PublicadorCliente/existeNickNameResponse" message="tns:existeNickNameResponse"></output>
</operation>
</portType>
<binding name="PublicadorClientePortBinding" type="tns:PublicadorCliente">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="listarClientes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="altaCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="actualizarEstadoReserva">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="prueba">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="pruebaData">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="pruebaDatas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="iniciarSesion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="existeEmail">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="existeNickName">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
</binding>
<service name="PublicadorClienteService">
<port name="PublicadorClientePort" binding="tns:PublicadorClientePortBinding">
<soap:address location="http://localhost:3000/publicadorCliente"></soap:address>
</port>
</service>
</definitions>