DispositivoMovil/src/conf/xml-resources/web-service-references/publicadorCliente/wsdl/localhost_3000/publicadorCliente.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servidor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servidor/" name="PublicadorClienteService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servidor/" schemaLocation="http://localhost:3000/publicadorCliente?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="altaCliente">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="tns:dataFecha"></part>
<part name="arg5" type="xsd:string"></part>
<part name="arg6" type="xsd:string"></part>
</message>
<message name="altaClienteResponse"></message>
<message name="Exception">
<part name="fault" element="tns:Exception"></part>
</message>
<message name="listarClientes"></message>
<message name="listarClientesResponse">
<part name="return" type="tns:dataClienteArray"></part>
</message>
<message name="listarReservasXCliente">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarReservasXClienteResponse">
<part name="return" type="tns:dataReservaArray"></part>
</message>
<message name="verInfoReserva">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="verInfoReservaResponse">
<part name="return" type="tns:dataInfoReserva"></part>
</message>
<message name="verInfoCliente">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="verInfoClienteResponse">
<part name="return" type="tns:dataInfoCliente"></part>
</message>
<message name="cancelarReserva">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="cancelarReservaResponse"></message>
<message name="actualizarEstadoReserva">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="tns:estado"></part>
</message>
<message name="actualizarEstadoReservaResponse"></message>
<message name="listarReservasSistema"></message>
<message name="listarReservasSistemaResponse">
<part name="return" type="tns:dataReservaArray"></part>
</message>
<message name="iniciarSesion">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="iniciarSesionResponse">
<part name="return" type="tns:dataInfoCliente"></part>
</message>
<message name="confirmarReserva">
<part name="arg0" type="tns:dataItemReservaArray"></part>
<part name="arg1" type="tns:dataInfoCliente"></part>
</message>
<message name="confirmarReservaResponse"></message>
<message name="agregarItemReserva">
<part name="arg0" type="tns:dataItemReserva"></part>
</message>
<message name="agregarItemReservaResponse"></message>
<message name="confirmarReserva2">
<part name="arg0" type="tns:dataInfoCliente"></part>
</message>
<message name="confirmarReserva2Response"></message>
<message name="existeEmail">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="existeEmailResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="existeNickName">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="existeNickNameResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="vaciarCarrito"></message>
<message name="vaciarCarritoResponse"></message>
<message name="listarReservasXClienteRegistradas">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarReservasXClienteRegistradasResponse">
<part name="return" type="tns:dataReservaArray"></part>
</message>
<message name="actualizarRegistro">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
</message>
<message name="actualizarRegistroResponse"></message>
<portType name="PublicadorCliente">
<operation name="altaCliente" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6">
<input wsam:Action="http://Servidor/PublicadorCliente/altaClienteRequest" message="tns:altaCliente"></input>
<output wsam:Action="http://Servidor/PublicadorCliente/altaClienteResponse" message="tns:altaClienteResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servidor/PublicadorCliente/altaCliente/Fault/Exception"></fault>
</operation>
<operation name="listarClientes">
<input wsam:Action="http://Servidor/PublicadorCliente/listarClientesRequest" message="tns:listarClientes"></input>
<output wsam:Action="http://Servidor/PublicadorCliente/listarClientesResponse" message="tns:listarClientesResponse"></output>
</operation>
<operation name="listarReservasXCliente">
<input wsam:Action="http://Servidor/PublicadorCliente/listarReservasXClienteRequest" message="tns:listarReservasXCliente"></input>
<output wsam:Action="http://Servidor/PublicadorCliente/listarReservasXClienteResponse" message="tns:listarReservasXClienteResponse"></output>
</operation>
<operation name="verInfoReserva" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servidor/PublicadorCliente/verInfoReservaRequest" message="tns:verInfoReserva"></input>
<output wsam:Action="http://Servidor/PublicadorCliente/verInfoReservaResponse" message="tns:verInfoReservaResponse"></output>
</operation>
<operation name="verInfoCliente">
<input wsam:Action="http://Servidor/PublicadorCliente/verInfoClienteRequest" message="tns:verInfoCliente"></input>
<output wsam:Action="http://Servidor/PublicadorCliente/verInfoClienteResponse" message="tns:verInfoClienteResponse"></output>
</operation>
<operation name="cancelarReserva" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servidor/PublicadorCliente/cancelarReservaRequest" message="tns:cancelarReserva"></input>
<output wsam:Action="http://Servidor/PublicadorCliente/cancelarReservaResponse" message="tns:cancelarReservaResponse"></output>
</operation>
<operation name="actualizarEstadoReserva" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://Servidor/PublicadorCliente/actualizarEstadoReservaRequest" message="tns:actualizarEstadoReserva"></input>
<output wsam:Action="http://Servidor/PublicadorCliente/actualizarEstadoReservaResponse" message="tns:actualizarEstadoReservaResponse"></output>
</operation>
<operation name="listarReservasSistema">
<input wsam:Action="http://Servidor/PublicadorCliente/listarReservasSistemaRequest" message="tns:listarReservasSistema"></input>
<output wsam:Action="http://Servidor/PublicadorCliente/listarReservasSistemaResponse" message="tns:listarReservasSistemaResponse"></output>
</operation>
<operation name="iniciarSesion" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servidor/PublicadorCliente/iniciarSesionRequest" message="tns:iniciarSesion"></input>
<output wsam:Action="http://Servidor/PublicadorCliente/iniciarSesionResponse" message="tns:iniciarSesionResponse"></output>
</operation>
<operation name="confirmarReserva" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servidor/PublicadorCliente/confirmarReservaRequest" message="tns:confirmarReserva"></input>
<output wsam:Action="http://Servidor/PublicadorCliente/confirmarReservaResponse" message="tns:confirmarReservaResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servidor/PublicadorCliente/confirmarReserva/Fault/Exception"></fault>
</operation>
<operation name="agregarItemReserva">
<input wsam:Action="http://Servidor/PublicadorCliente/agregarItemReservaRequest" message="tns:agregarItemReserva"></input>
<output wsam:Action="http://Servidor/PublicadorCliente/agregarItemReservaResponse" message="tns:agregarItemReservaResponse"></output>
</operation>
<operation name="confirmarReserva2">
<input wsam:Action="http://Servidor/PublicadorCliente/confirmarReserva2Request" message="tns:confirmarReserva2"></input>
<output wsam:Action="http://Servidor/PublicadorCliente/confirmarReserva2Response" message="tns:confirmarReserva2Response"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servidor/PublicadorCliente/confirmarReserva2/Fault/Exception"></fault>
</operation>
<operation name="existeEmail">
<input wsam:Action="http://Servidor/PublicadorCliente/existeEmailRequest" message="tns:existeEmail"></input>
<output wsam:Action="http://Servidor/PublicadorCliente/existeEmailResponse" message="tns:existeEmailResponse"></output>
</operation>
<operation name="existeNickName">
<input wsam:Action="http://Servidor/PublicadorCliente/existeNickNameRequest" message="tns:existeNickName"></input>
<output wsam:Action="http://Servidor/PublicadorCliente/existeNickNameResponse" message="tns:existeNickNameResponse"></output>
</operation>
<operation name="vaciarCarrito">
<input wsam:Action="http://Servidor/PublicadorCliente/vaciarCarritoRequest" message="tns:vaciarCarrito"></input>
<output wsam:Action="http://Servidor/PublicadorCliente/vaciarCarritoResponse" message="tns:vaciarCarritoResponse"></output>
</operation>
<operation name="listarReservasXClienteRegistradas">
<input wsam:Action="http://Servidor/PublicadorCliente/listarReservasXClienteRegistradasRequest" message="tns:listarReservasXClienteRegistradas"></input>
<output wsam:Action="http://Servidor/PublicadorCliente/listarReservasXClienteRegistradasResponse" message="tns:listarReservasXClienteRegistradasResponse"></output>
</operation>
<operation name="actualizarRegistro" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://Servidor/PublicadorCliente/actualizarRegistroRequest" message="tns:actualizarRegistro"></input>
<output wsam:Action="http://Servidor/PublicadorCliente/actualizarRegistroResponse" message="tns:actualizarRegistroResponse"></output>
</operation>
</portType>
<binding name="PublicadorClientePortBinding" type="tns:PublicadorCliente">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="altaCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="listarClientes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="listarReservasXCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="verInfoReserva">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="verInfoCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="cancelarReserva">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="actualizarEstadoReserva">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="listarReservasSistema">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="iniciarSesion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="confirmarReserva">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="agregarItemReserva">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="confirmarReserva2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="existeEmail">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="existeNickName">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="vaciarCarrito">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="listarReservasXClienteRegistradas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="actualizarRegistro">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
</binding>
<service name="PublicadorClienteService">
<port name="PublicadorClientePort" binding="tns:PublicadorClientePortBinding">
<soap:address location="http://localhost:3000/publicadorCliente"></soap:address>
</port>
</service>
</definitions>