DispositivoMovil/src/conf/xml-resources/web-service-references/publicadorProveedor_1/wsdl/localhost_3001/publicadorProveedor.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://Servidor/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servidor/">

<xs:element name="Exception" type="tns:Exception"></xs:element>

<xs:complexType name="dataServicio">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="descripcion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="precio" type="xs:float"></xs:element>
<xs:element name="imagen" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="proveedor" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataProveedor">
<xs:sequence>
<xs:element name="nickname" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="apellido" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fechaNac" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="imagen" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombreEmpresa" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="urlEmpresa" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="password" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataPromocion">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="descuento" type="xs:int"></xs:element>
<xs:element name="precioTotal" type="xs:int"></xs:element>
<xs:element name="nickProveedor" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataInfoReserva">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="fechaCreacion" type="tns:dataFecha" minOccurs="0"></xs:element>
<xs:element name="fechaInicio" type="tns:dataFecha" minOccurs="0"></xs:element>
<xs:element name="fechaFin" type="tns:dataFecha" minOccurs="0"></xs:element>
<xs:element name="precio" type="xs:float"></xs:element>
<xs:element name="estado" type="tns:estado" minOccurs="0"></xs:element>
<xs:element name="items" type="tns:dataItemReserva" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataFecha">
<xs:sequence>
<xs:element name="dia" type="xs:int"></xs:element>
<xs:element name="mes" type="xs:int"></xs:element>
<xs:element name="anio" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataItemReserva">
<xs:sequence>
<xs:element name="cantidad" type="xs:int"></xs:element>
<xs:element name="fechaInicio" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="fechaFin" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="esServico" type="xs:boolean"></xs:element>
<xs:element name="servicio" type="tns:dataServicio" minOccurs="0"></xs:element>
<xs:element name="promocion" type="tns:dataPromocion" minOccurs="0"></xs:element>
<xs:element name="nickCliente" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="estado" type="tns:estado" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataInfoPromocion">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="descuento" type="xs:int"></xs:element>
<xs:element name="precioTotal" type="xs:int"></xs:element>
<xs:element name="servicios" type="tns:dataServicio" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataInfoProveedor">
<xs:sequence>
<xs:element name="nickname" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="apellido" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fechaNac" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="imagen" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="empresa" type="tns:dataEmpresa" minOccurs="0"></xs:element>
<xs:element name="servicios" type="tns:dataServicio" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="password" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataEmpresa">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="url" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataInfoServicio">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="descripcion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="imagen" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="precio" type="xs:float"></xs:element>
<xs:element name="origen" type="tns:dataCiudad" minOccurs="0"></xs:element>
<xs:element name="destino" type="tns:dataCiudad" minOccurs="0"></xs:element>
<xs:element name="categorias" type="tns:dataCategoria" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="proveedor" type="tns:dataProveedor" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataCiudad">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="pais" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataCategoria">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="hijos" type="tns:dataCategoria" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="estado">
<xs:restriction base="xs:string">
<xs:enumeration value="registrada"></xs:enumeration>
<xs:enumeration value="cancelada"></xs:enumeration>
<xs:enumeration value="pagada"></xs:enumeration>
<xs:enumeration value="facturada"></xs:enumeration>
</xs:restriction>
</xs:simpleType>

<xs:complexType name="dataServicioArray" final="#all">
<xs:sequence>
<xs:element name="item" type="tns:dataServicio" minOccurs="0" maxOccurs="unbounded" nillable="true"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataProveedorArray" final="#all">
<xs:sequence>
<xs:element name="item" type="tns:dataProveedor" minOccurs="0" maxOccurs="unbounded" nillable="true"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataInfoReservaArray" final="#all">
<xs:sequence>
<xs:element name="item" type="tns:dataInfoReserva" minOccurs="0" maxOccurs="unbounded" nillable="true"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataPromocionArray" final="#all">
<xs:sequence>
<xs:element name="item" type="tns:dataPromocion" minOccurs="0" maxOccurs="unbounded" nillable="true"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataCategoriaArray" final="#all">
<xs:sequence>
<xs:element name="item" type="tns:dataCategoria" minOccurs="0" maxOccurs="unbounded" nillable="true"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>